.main-element {
    background-image: url(./dinner3.jpg); 
    background-size: cover;
    height: 100vh;
}

.overlay {
        width: 100%; /* Full width (cover the whole page) */
        height: 100vh; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75); /* Black background with opacity */
}

.about-me {
    height: 100vh;
}