

.lp-wrapper {
    padding: 30px;
    text-align: center;
    color: white;
}

.lp {
    font-size: 50px;
}

.lp-text {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

a {
  text-decoration: none;
}

.header-links {
    padding: 50px;
    font-size: 20px;
    float: right;
    font-family: 'Bai Jamjuree', sans-serif;
}

.icon-section {
    
    float: left;
    color: white;
}

.plate-icon {
    float: left;
    color: white;
    height: 100px;
    margin: 20px;
    padding-left: 25px;
}

.project-name {
    float: right;
    padding-top: 30px;
    font-size: 20px;
}

.about-link {
    color: white;
    padding-right: 30px;
}

.header-main-text {
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
}

.login-link {
    color: white;
    padding-right: 30px;
}

.contact-link {
    color: white;
    padding-right: 20px;
}

