
.aboutme-header {
    color: darkslateblue;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
}

.aboutme-wrapper {
    height: 100vh;
    margin-top: 20px;
}

.card-img-wrapper  {
    text-align: center;
}

.card-header-text {
    font-size: 200%;
    color: darkslateblue;
}

.about-me-box {
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 70vh;
}

.about-me-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.card {
    color: white;
    font-family: 'Bai Jamjuree', sans-serif !important;
}

.card-body {
    color: #16181a;
    background-color: white;
}

